body {
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 20px auto 20px auto;
  line-height: 2;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;

}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
  text-decoration: underline;
}

p {
  color: #40514E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;

}

.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.profile {
  padding-top: 50px;
  padding-bottom: 50px;
}

.skills {
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact-me {
  padding-top: 50px;
  padding-bottom: 50px;
}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  margin: 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}


.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.code-img {
  float: left;
  width: 25%;
  margin-right: 30px;
}

.helpdesk-img {
  float: right;
  width: 25%;
  margin-left: 30px;
}

.credit {
  color: #EAF6F6;
  font-size: .75rem;
  padding-top: 20px;
}
